.DrawioEditorIframe {
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.DrawioEditorOverlay {
	background-color: rgba( 1, 1, 1, 0.1 );
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.DrawioEditorInfoBox {
	padding-top: 20px;
	text-align: center;
	/* @embed */
	background-image: url( ./placeholder.svg );
	background-repeat: no-repeat;
	background-position: center;
	min-width: 600px;
	min-height: 400px;
}

html.ve-active .mw-editdrawio-wrapper {
	display: none;
}

.drawio-img-container {
	display: flex;
}

.drawio-align-center {
	justify-content: center;
}

.drawio-align-left {
	justify-content: left;
}

.drawio-align-right {
	justify-content: right;
}

.drawio-caption-icon .mw-ui-icon {
	margin: 5px;
	background-repeat: no-repeat;
}
